body {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #666666;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	padding: 0px;
}
h1 {
	font-family: serif, sans-serif, monospace, fantasy, cursive, "MS Gothic", "MS PGothic", "MS Mincho", MoolBoran;
	font-style: oblique;
	font-size: 72px;
	font-weight: bold;
	color: #000099;
	background-color: #660000;
	float: none;
	position: 固定;
	clip: rect(auto,auto,auto,auto);
	text-align: left;
	visibility: inherit;
	font-variant: normal;
	text-transform: capitalize;
	text-indent: 100px;
	background-position: center top;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	left: 0px;
	top: 0px;
	vertical-align: text-bottom;
	padding-top: 30px;
	margin: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
ul {
	background-color: #CC3300;
	color: #3300CC;
	background-position: 0px 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 30px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-indent: 30px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;

}
#main {
	width: 800px;
	margin-left: 30px;
	margin-top: 10px;
	padding: 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #663333;
	text-indent: 10px;
	margin-bottom: 10px;
}

li {
	display:inline /*/ 横着拍*/;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000099;
	font-size: medium;
}
a {
	text-decoration: none;
}
p {
	font-family: "新宋体";
	text-decoration: underline;
	margin: 5px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 16px;
}
#border {
	background-color: #663333;
	padding: 10px;
	height: 300px;
	width: 300px;
	margin-top: 10px;
	margin-right: 30px;
	margin-bottom: 10px;
	margin-left: 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	top: 205px;
	right: 0px;
	background-position: right top;
	vertical-align: top;
	clear: right;
	float: right;
	position: absolute;
	visibility: inherit;
	z-index: 2;
}
